body {
    background: #313131;
    align-items: center;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8em;
}


footer{
background: #659f8f ;
margin: 0;


}

.container {
    border-radius: 6px;
    margin: 4em 8em;
    padding-top: 3em;
}

.content {
    display:grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    border-bottom: 1px solid #cd5f06e4;
    border-width: 100%;
    padding-bottom: 1em;

}

input {
    width: 10em;
    height: 2.5em;
    color: rgb(151, 146, 139);
    font-size: .8em;
    border-radius: 5px;
    border: 0  none ;
    padding-left: 1em;
    
}

button {
    height: 2.5em;
    border-radius: 5px;
    border: 0  none ;
    margin-left: .6em;
    background-color: #cd5f06e4;
    color: white;
    font-size: .8em;
    padding: 0 2em;
}

p{
    color: #313131;
    font-weight: 600;

}

.subscribe {
    margin-bottom: 1.20em;
}

.link-tech {
    display: flex;
    justify-content: left;
   
}
.quick-link  {
    color: #313131;
    font-size: .8em;
    padding-right: 7em;
    
}

.tech {
    font-size: .8em;
    color: #313131;
    margin-left: 7em;
    margin-right: 7em;

}
ul {
    
    list-style: none;
    padding: 0;
    line-height: 2em;
    color: #313131;
 
}a{color: #313131;text-decoration: none;}

.flex {
    display: block;
    width: 150px;
    padding-top: 1em;
    padding-bottom: 3em;

}

/*Responsiveness for phones with maximum width of 768px and minimum width of 420px*/

@media screen and (max-width: 768px) and (min-width: 420px) {
    body {
        background-color: white;
        font-size: 1em;
    }

    footer {
        border: 1em solid white;
        border-radius: 1.5em;
    }

    .content {
        display: flex;
        flex-direction: column;
        
    }

    .container {
        margin: 2.5em ;
        margin-top: 0em;
        
    }

    input {
        width: 14em;

    }

     button {
        width: 7.5em;

     }

    .tech{
        margin-left: 10em;
    }

}

/*Responsiveness for phones with maximum width of 420px*/

@media screen and (max-width: 420px) {
    body {
        background-color: white;
        font-size: 1em;
        min-width: 300px;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    footer {
        border: 1em solid white;
        border-radius: 1.5em;
    }

    .container {
        margin: 5dvw ;
        padding-top: 1em;
        margin-top: 0;
        
    }

    .subscribe {
        display: flex;
        flex-direction: column;
    }

    input {
        width: 18em;
        margin-bottom: 1em;
    }

    button {
        width: 19em;
        margin-left: 0;
    }
    .link-tech {
        flex-direction: column;
    }

    .tech{
        margin-left: 0;
    }

    
    
}